.singlepost-rightside {
  height: 750px;
  flex: 2;
  margin-left: 265px;
}
.singlepost-maincontainer {
  display: flex;
}
.singlepost-toppost-design {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  flex-basis: 72%;
}
.singlepost-toppost-icon {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  flex-basis: 4%;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.3s;
}
.singlepost-toppost-icon:hover {
  background-color: rgb(29, 28, 28);
}
.singlepost-toppost-section {
  background-color: black;
  padding: 12px 15px;
  display: flex;
  position: sticky;
  top: 0;
}
.singlepost-downpost-section {
  height: 100%;
}
.user-section {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.user-section-username {
  display: flex;
}
.user-section-icon {
  color: white;
}
.user-section-image {
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.name-section {
  margin-left: 10px;
  font-family: sans-serif;
}
.name {
  color: white;
}
.user-name {
  color: rgb(81, 78, 78);
}
.post-text {
  color: white;
  margin: 0 0 20px 25px;
  font-family: sans-serif;
}
.singlepost-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(71, 67, 67);
    padding-bottom: 20px;
}
.singlepost-image p {
    color: rgb(71, 67, 67);
    margin-top: 10px;
    font-family: sans-serif;
}
.singlepost-reaction-total {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(71, 67, 67);
    padding: 10px;
    font-family: sans-serif;
}
.singlepost-reaction-total span {
    color: white;
}
.singlepost-reaction-icon-comment {
    color: rgb(71, 67, 67);
    cursor: pointer;
}
.singlepost-reaction-icon-like {
    color: rgb(71, 67, 67);
    cursor: pointer;
}
.singlepost-reaction-icon-comment:hover {
    color: rgb(76, 76, 237);
}
.singlepost-reaction-icon-like:hover {
    color: rgb(244, 49, 49);
}
