.singlepost-rightside {
  height: 750px;
  flex: 2;
  margin-left: 265px;
}
.singlepost-maincontainer {
  display: flex;
}
.singlepost-toppost-design {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  flex-basis: 72%;
}
.singlepost-toppost-icon {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  flex-basis: 4%;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.3s;
}
.singlepost-toppost-icon:hover {
  background-color: rgb(29, 28, 28);
}
.singlepost-toppost-section {
  background-color: black;
  padding: 12px 15px;
  display: flex;
  position: sticky;
  top: 0;
}
.singlepost-downpost-section {
  height: 100%;
}
.user-section {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.user-section-username {
  display: flex;
}
.user-section-icon {
  color: white;
}
.user-section-image {
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.name-section {
  margin-left: 10px;
  font-family: sans-serif;
}
.name {
  color: white;
}
.user-name {
  color: rgb(81, 78, 78);
}
.post-text {
  color: white;
  margin: 0 0 20px 25px;
  font-family: sans-serif;
}
.singlepost-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(71, 67, 67);
    padding-bottom: 20px;
}
.singlepost-image p {
    color: rgb(71, 67, 67);
    margin-top: 10px;
    font-family: sans-serif;
}
.singlepost-reaction-total {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(71, 67, 67);
    padding: 10px;
    font-family: sans-serif;
}
.singlepost-reaction-total span {
    color: white;
}
.singlepost-reaction-icon-comment {
    color: rgb(71, 67, 67);
    cursor: pointer;
}
.singlepost-reaction-icon-like {
    color: rgb(71, 67, 67);
    cursor: pointer;
}
.singlepost-reaction-icon-comment:hover {
    color: rgb(76, 76, 237);
}
.singlepost-reaction-icon-like:hover {
    color: rgb(244, 49, 49);
}
.singlepost-user-image {
    width: 40px; 
    height: 40px;
    border-radius: 100%;
}
.singlepost-user-image-container {
    flex-basis: 6%;
}
.singlepost-textarea {
    width: 500px;
    background-color: black;
    border: none;
    padding: 30px 0 0 0;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 18px;
    flex-basis: 84%;
}
.singlepost-textarea:focus {
    outline: none;
}
.singlepost-reply-comment {
    background-color: #209BF0;
    color: white;
    width: 200px;
    height: 20px;
    padding: 10px 8px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    flex: 0.2;
    justify-content: center;
    flex-basis: 10%;
}
.singlepost-reaction-comment {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(71, 67, 67);
    padding: 10px;
    font-family: sans-serif;
    padding-left: 30px;
}
.singlepost-comment-section {
  display: flex;
  padding: 20px;
}
.singlepost-comment-left {
  flex-basis: 7%;
}
.singlepost-comment-left img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.singlepost-commet-right {
  flex-basis: 93%;
  color: white;
}
.singlepost-comment-user-section {
  display: flex;
  justify-content: space-between;
}
.user-identity {
  
}
.user-menu {

}
.singlepost-comment {

}
.singlepost-comment-reaction-section {

}
.singlepost-android-footer {
  display: none
}

@media only screen and (max-width: 1030px) { 

}

@media only screen and (max-width: 500px) {
  .singlepost-menu {
    display: none
  }
  .singlepost-rightside {
    margin-left: 0;
    padding: 30px;
  }
  .singlepost-android-footer {
    display: block
  }
} 

